/* Nav*/
.body {
  width: 100%;
  height: 100%;
}
.logo {
  width: 100px;
  border-radius: 50%;
}
ul li {
  margin-top: 25px;
}
.nav .nav-link {
  color: rgb(255, 255, 255);
}

.nav .nav-link:hover {
  color: rgb(216, 240, 6);
}
.body {
  background-image: url("images/backgrund.jfif");
  background-repeat: no-repeat;
  background-size: 100%;
}

/*OM-Oss*/
.row {
  display: flexbox;
  justify-content: space-between;
}
.bild1 {
  border-radius: 10%;
  margin: 20px;
}
.historia {
  text-align: center;
  border: 2px solid green;
  border-radius: 10px;
  height: 100%;
}
.historia p {
  text-align: left;
  padding: 20px;
}

.Sammarbetspartner {
  border: 2px solid rgb(68, 218, 68);
  min-height: 200px;
  border-radius: 10px;
  margin-top: 40px;
}
.bilder img {
  margin: 20px;
  height: 100px;
  width: 100px;
  padding: 5px;
}
/*--vision---*/

/*Footer*/
.footer-icons a {
  margin-right: 50px;
  color: white;
}
.footer-icons a:hover {
  cursor: pointer;
  color: rgb(139, 9, 9);
}
h6:hover {
  cursor: pointer;
  color: rgb(139, 9, 9);
  font-size: 19px;
  background-color: white;
}
.logo {
  width: 100px;
  height: 100px;
}
.mailto {
  width: 100px;
  margin-left: 20px;
}

.footer {
  background-image: url(/images/backgrund.jfif);
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  height: 110px;
}
.btn-success a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.btn-success a:hover {
  cursor: pointer;
  color: black;
}

@media (max-width: 600px) {
  .ide p {
    padding: 10px;
  }
  .ide h2 {
    padding: 20px;
  }

  .body {
    background-image: url("images/backgrund.jfif");
    background-size: 200vh;
    background-attachment: fixed;
  }

  .footer {
    background-image: url("images/backgrund.jfif");
    background-repeat: initial;
    color: black;
  }
  h6 {
    display: none;
  }

  .bild1 {
    width: 90%;
  }
  .container {
    width: 100%;
  }
  .historia {
  }
}
